template(name="stopContent")
  if stop.isVideo
    +videoContent stop=stop
  else if stop.isAudio
    +audioContent stop=stop
  else 
    .img-wrap
      img(src="#{awsUrl}/#{stop.tour}/#{stop.media}" controls)
