template(name="stop")
  if Template.subscriptionsReady
    .tour-stop
      .tour-stop--info(class="{{#if stop.isGroup}} group {{/if}}")
        span.stopNumber #{stop.stopNumber}
        .tour-stop--info--title
          h1
            | #{stop.title}
          unless stop.isGroup
            unless isNull stop.speaker
              p.child-stop-subTitle.single #{stop.speaker}
      if stop.isGroup
        ul.child-stops
          each stop.children
            li.child-stop
              .child-stop-info
                .child-stop-number #{stop.stopNumber}.#{order}
                .child-stop-titles-wrap
                  h2.tap-list-title.child-stop-title=title
                  unless isNull speaker
                    p.child-stop-subTitle #{speaker}
              +stopContent stop=this
      else
        +stopContent stop=stop
      .stop-nav
        .current-stop-number=stop.stopNumber
        a.stop-nav-button.prev-stop(href="#" disabled="{{#unless prevStop}} disabled {{/unless}}")
          i.fa.fa-chevron-circle-left
          span=prevStop.stopNumber
          span=prevStop.title
        a.stop-nav-button.next-stop(href="#" disabled="{{#unless nextStop}} disabled {{/unless}}")
          span=nextStop.stopNumber
          span=nextStop.title
          i.fa.fa-chevron-circle-right
  else
    +loading
