template(name="stop")
  if Template.subscriptionsReady
    .tour-stop
      .tour-stop--info(class="{{#if stop.isGroup}} group {{/if}}")
        span.stopNumber #{stop.stopNumber}
        .tour-stop--info--title
          h1
            | #{stop.title}
          unless stop.isGroup
            unless isNull stop.speaker
              p.child-stop-subTitle.single #{stop.speaker}
      if stop.isGroup
        ul.child-stops
          each stop.children
            li.child-stop
              +childStop stop=this parentStop=stop
      //- else if stop.isAudio
      //-   +stopAudio stop=stop
      //- else if stop.isVideo
      //-   +stopVideo stop=stop
      //- else if stop.isImage
      //-   +stopImage stop=stop
        //- +stopContent stop=stop
        
      if stop
        +stopNav stop=stop currentStop=stopID
  else
    +loading
