template(name="upload_progress")
  each files
    .progress
      .progress-bar(
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        aria-valuenow="{{ percent_uploaded }}"
        style="width: {{ percent_uploaded }}%")
