template(name="createTour")
  unless tour
    .main-title-wrap
      h1.main-title Create a Tour
  .container-fluid
    form.create-tour(data-parsley-validate)
      label
        span Main Title
        input.form-control(name='mainTitle' type='text' value=tour.mainTitle required)
      label
        span Sub Title
        input.form-control(name='subTitle' type='text' value=tour.subTitle)
      label
        span Opening Date
        input.form-control(name='openDate' type='date' value=tour.openDate required)
      label
        span Closing Date
        input.form-control(name='closeDate' type='date'  value=tour.closeDate required)
      label
        span Base Number (ie '100')
        input.form-control(name='baseNum' type='number' placeholder='100'  value=tour.baseNum required)
      label
        span Tour Type
        .radio
          label
            input(name='tourType' type='radio' value='0' checked required)
            | Adult
        .radio
          label
            input(name='tourType' type='radio' value='1')
            | Family
      //- .checkbox
      //-   label
      //-     input(name='menu' type='checkbox')
      //-     | Show Menu?

      label.outside
        span Tour Image
      unless tour.image
        +fileUpload name='image' required=true
      else
        p tour.image

      button.btn.btn-success(type="submit") Create Tour

      each files
        .progress
          .progress-bar(role="progressbar" aria-valuenow="{{ percent_uploaded }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_uploaded }}%") {{ percent_uploaded }}
