template(name="currentTours")
  .main-title-wrap
    h1.main-title Current Tours
  ul.tap-list.current-tours
    each tours
      li
        a(href="tour/#{_id}")
          if thumbnail
            .image(style="background-image: url(//s3.amazonaws.com/tap-cma/#{_id}/#{thumbnail})")
              .tour-type(class="{{type}}")
          else
            .no-image
              .tour-type(class="{{type}}")
          h2.tap-list-title.tour-title #{mainTitle}
            span #{subTitle}
  +stopSearch state=buttonState stopNumbers=stopNumbers
