template(name="editTour")
  .container
      h1 #{tour.mainTitle}: #{tour.subTitle}
      unless stops
        h1 Add Stops
        +autoForm collection="TourStops" id="addFirstStop"
          +addStop
      else
        ul.list-unstyled.parent-stops
          +sortable items=stops sortField="stopNumber" options=sortableOptions
            li.parent(class="#{type}")
              span #{stopNumber}
              span.title #{title}
              a.delete Delete
              if editStop
                div.editing-parent
                  +editing stop=this type=this.type
              if isGroup
                unless showChildStops
                  a.show-children Show ChildStops
                else
                  a.hide-children hide ChildStops
                  //- else
                  //-   a Add Children
                if showChildStops
                  ul.child-stops
                    each getChildStops
                      li.child(data-index="#{index}")
                        span #{order}
                        span.title #{title}
                        if editChildStop
                          div.editing-child
                            +editing stop=this type=this.type
                        a.delete delete
                    unless addChild
                      a.btn.btn-primary.add-child Add Child
                    if addChild
                      .addStop
                        +addStop type='new-child' tour=tour parent=_id siblings=childStops
              else
                a.convert convert
        if showAddStop
          .addStop
            +addStop type='new-parent' stops=stops tour= ../tour
        else
          a.btn.btn-primary.show-add-stop Add stop

template(name="editing")
  if notParent type
    if isChild
      input.form-control(value="#{stop.order}" name="order" placeholder="Order Number")
    +stopData stop=stop
  else
    input.form-control(value="#{stop.title}" name="title" placeholder="Title")
  button.btn.btn-success.save Save
  button.btn.btn-default.cancel Cancel

template(name="stopData")
  input.form-control(value="#{stop.title}" name="title" placeholder="Title")
  input.form-control(value="#{stop.speaker}" name="speaker" placeholder="Speaker")
  +mediaTypes stop=stop
  if stop.media
    p #[strong File]:
      span #[a(href="https://s3.amazonaws.com/tap-cma/#{stop.tour}/#{stop.media}") {{formatFile}}]
      a.delete-file() delete
  else
    input.form-control(type='file' name="media")
  if isUpdating
    each files
      .progress
        .progress-bar(role="progressbar" aria-valuenow="{{ percent_uploaded }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_uploaded }}%") {{ percent_uploaded }}
    p updating

template(name='mediaTypes')
  select.form-control(name="mediaType")
    each stopTypesForm
      option(value="#{value}" selected="{{selected ../stop}}") #{label}

template(name='addStop')
  if isParent
    input.form-control(type='radio' name="type" value="single" checked="checked")
    | Single
    input.form-control(type='radio' name="type" value="group")
    | Group
  input.form-control(value="" name="title" placeholder="Title")
  if showSingleData
    input.form-control(type='file' name="media")
    input.form-control(value="" name="speaker" placeholder="Speaker")
    +mediaTypes
  if isCreating
    each files
      .progress
        .progress-bar(role="progressbar" aria-valuenow="{{ percent_uploaded }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_uploaded }}%") {{ percent_uploaded }}
    p updating
  button.btn.btn-success.add-stop Add Stop
  button.btn.btn-default.cancel-add-stop Cancel

