template(name="editTour")
  .container
      h1 #{tour.mainTitle}: #{tour.subTitle}
      unless stops
        h1 Add Stops
        +autoForm collection="TourStops" id="addFirstStop"
          +addStop
      else 
        table.table.tour-stops
          tbody
            each stops
              unless editStop
                tr
                  td
                    span #{stopNumber}
                  td
                    span #{title}
                  td
                    span #{mediaType}
                  if childStops
                    td
                      button.btn.btn-sucess.show-children Show Children
                each childStops
                  tr.child-stops(class="childStops-#{../stopNumber}").hidden
                    td
                      span #{title}
                    td
                      span #{mediaType}
              else
                div.editing
                  input.form-control(value="#{stopNumber}" name="stopNumber")
                  input.form-control(value="#{title}" name="title")
                  input.form-control(value="#{type}" name="type")
                  input.form-control(value="#{mediaType}" name="mediaType")
                  button.btn.btn-success.save Save
                  button.btn.btn-default.cancel Cancel

      .col-sm-6.col-sm-offset-3
        h1 Add More Stops
        +autoForm(collection=tourStops id="addStops")
          +addStop

template(name="addStop")
  +afQuickField name="tour" value=tour._id
  +afQuickField name="title"
  +afQuickField name="type"

  if afFieldValueIs name='type' value="single"
    +afQuickField name='speaker'
    +afQuickField name='media'
    +afQuickField name='mediaType'
  if afFieldValueIs name='type' value="group"
    {{log childStops}}
    +afEachArrayItem name='childStops' minCount=1 maxCount=10
      .autoform-array-item
        +afQuickField name=this.name label=false
        if afArrayFieldHasMoreThanMinimum name=this.arrayFieldName minCount=1 maxCount=10
          button.autoform-remove-item(type='button') Remove
                  
      if afArrayFieldHasLessThanMaximum name=this.name minCount=0 maxCount=10
        div(style='margin-top: 20px;')
          button.autoform-add-item(type='button', data-autoform-field='{{this.arrayFieldName}}', data-autoform-mincount='{{this.minCount}}', data-autoform-maxcount='{{this.maxCount}}') Add

  input.btn.btn-primary(type="submit")

template(name="afArrayField_tap")
  {{ afFieldLabelText name=this.atts.name }}
  h1 stops
  +afQuickField name=this.title
  +afQuickField name=this.type

  if afFieldValueIs name=type value="single"
    +afQuickField name=speaker
    +afQuickField name=media
    +afQuickField name=mediaType
  if afFieldValueIs name=type value="group"
    +afEachArrayItem name=this.current.childStops minCount=1 maxCount=10
      .autoform-array-item
        +afQuickField name=this.name label=false
        if afArrayFieldHasMoreThanMinimum name=this.arrayFieldName minCount=1 maxCount=10
          button.autoform-remove-item(type='button') Remove
                  
      if afArrayFieldHasLessThanMaximum name=this.name minCount=0 maxCount=10
        div(style='margin-top: 20px;')
          button.autoform-add-item(type='button', data-autoform-field='{{this.arrayFieldName}}', data-autoform-mincount='{{this.minCount}}', data-autoform-maxcount='{{this.maxCount}}') Add

    if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=1 maxCount=10
        button.autoform-remove-item(type='button') Remove

  if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=1 maxCount=10
    button.autoform-add-item(type='button', data-autoform-field='{{this.atts.name}}', data-autoform-mincount='{{this.atts.minCount}}', data-autoform-maxcount='{{this.atts.maxCount}}') Add
