template(name="editTour")
  {{log this}}
  .main-title-wrap
    h1.main-title #{tour.mainTitle}: #{tour.subTitle}
    button.btn.btn-default.btn-header.show-tour-details(type='button')
      span Edit Details
      i.fa.fa-edit
    a.btn.btn-default.btn-header(href="{{pathFor 'tour' _id=tour._id}}")
      span View Tour
      i.fa.fa-view
    button.btn-plain.delete-tour(title="Delete Tour")
      i.fa.fa-trash
  if editTourDetails
    +tourDetails tour=tour action='edit' editing=getEditing
  if hasStops
    ul.list-unstyled.tap-edit-list.edit-parent-stops
      +sortable items=stops sortField="stopNumber" options=sortableOptions
        li.parent(class="#{type} {{isOpen}}")
          unless onlyOneStop
            i.handle.fa.fa-bars
          span.stop-number #{stopNumber}
          +stopTitle
          .stop-count
            if isGroup
                each childStops
                  if hasMedia this
                    i.fa.fa-square
                  else
                    i.fa.fa-square-o.no-file
                else
                  i.fa.fa-exclamation-triangle.no-file-warning
            else
              if media
                i.fa.fa-square
              else
                i.fa.fa-square-o.no-file
          a.delete(href="#")
            i.fa.fa-trash
          if editStop
            +editing stop=this type=this.type stops=../stops childStops=../childStops
          if isGroup
            if showChildStops
              ul.edit-child-stops.list-unstyled
                each getChildStops
                  li.child(class="{{isOpen}}" data-index="#{index}")
                    span.stop-number
                      span.parent-number #{../stopNumber}.
                      span.order-number #{order}
                    +stopTitle
                    unless media
                      i.fa.fa-exclamation-triangle.no-file-warning
                    if editChildStop
                      +editing stop=this type=this.type
                    a.delete(href="#")
                      i.fa.fa-trash
                unless addChild
                  li.child.add-stop-link.add-child
                    a.title
                      i.fa.fa-plus-square
                      span Add Child
              if addChild
                +addStop type='new-child' tour=tour parent=_id siblings=childStops
      if showAddStop
        .add-stop
          +addStop type='new-parent' stops=stops tour= ../tour
      else
        li.parent.add-stop-link
          .title
            a.show-add-stop
              i.fa.fa-plus-square
              span Add stop
  else
    +addStop type='new-parent' stops=stops tour=tour

template(name="stopTitle")
  unless editStopTitle
    span.title(class="#{type}-title") #{title}
    a(href="").edit-title-btn
      i.fa.fa-edit
  else
    form.edit-title-form(data-parsley-validate)
      .edit-title
        input.edit-title-input.form-control.inline(value="#{title}" name="title" required)
        .action-btns-form
          button.btn.btn-plain.save-title(type="submit")
            i.fa.fa-check-circle
          button.btn.btn-plain.cancel-edit-title(type="button")
            i.fa.fa-times-circle

template(name="editing")
  form(class="edit-stop edit-#{type}" data-parsley-validate)
    if notParent type
      .row
        .col-sm-6
          if isChild
            .row
              .col-sm-2
                label
                  span Order
                  input.form-control(value="#{stop.order}" name="order" placeholder="Order Number" type="number")
          +stopData stop=stop mediaType=getMediaType
          .action-btns
            button.btn.btn-success.save(type="submit") Save
            button.btn.btn-default.cancel(type="button") Cancel

    .other-edit-options
      label Other Options
      if isChild
        button.btn.btn-default.convert-single
          i.fa.fa-square-o
          span Convert to Single Stop
      else
        .row
          .col-sm-2
            button.btn.btn-default.convert-group
              i.fa.fa-clone
              span Convert to Group
          if hasGroups
            .col-sm-7.col-sm-offset-1
              .row.add-to-group-wrap
                form.add-to-group
                  .col-sm-8
                    select.parent-stops-list.form-control(name="parent")
                      each parentStops
                        option(value=_id)= title
                  .col-sm-4
                    button.btn.btn-default
                      i.fa.fa-plus-square
                      span Add to group
template(name="stopData")
  label
    span Speaker or Subtitle
    input.form-control(value="#{stop.speaker}" name="speaker" placeholder="Speaker")
  .row
    .col-sm-6
      +mediaTypes stop=stop mediaType=mediaType
  +editMedia media=stop.media tourID=stop.tour mediaType=mediaType typeName='media' currentMediaType=stop.mediaType
  if isUpdating
    +uploadProgress

template(name='mediaTypes')
  label Media Type
    select.form-control.media-type-select(name="mediaType")
      each stopTypesForm
        option(value="#{value}" selected="{{selected ../stop}}") #{label}

template(name='addStop')
  {{log this}}
  .add-stop-container(class=type)
    h2=addTitle
    form.add-stop(data-parsley-validate)
      .row
        .col-sm-6
          if isParent
            .radio
              label
                input.new-stop-type(type='radio' name="type" value="single" checked=singleSelected)
                | Single
            .radio
              label
                input.new-stop-type(type='radio' name="type" value="group" checked=groupSelected)
                | Group
          .row
            .col-sm-8
              label
                span Title
                input.form-control(value="" name="title" required)
          if showSingleData
            .row
              .col-sm-8
                label Speaker or Sub-title
                  input.form-control(value="" name="speaker")
            .row
              .col-sm-4
                +mediaTypes mediaType=mediaType
            .row
              .col-sm-8
                +fileUpload name="media" label="Media File"
            +posterImage mediaType=mediaType
          if isCreating
            +uploadProgress
          .action-btns
            button.btn.btn-success(type="submit")
              span Add Stop
            button.btn.btn-default.cancel-add-stop(type="button") Cancel

