template(name="stop")
  .tour-stop
    if stop.childStops
      h1.group-title
        span.stopNumber #{stop.stopNumber}
        | #{stop.title}
      ul.child-stops
        each getChildStops
          li.child-stop
            .child-stop-info
              h2.tap-list-title.child-stop-title
                span
                  span.child-stop-number #{../stop.stopNumber}.#{order}
                  span #{title}
              unless isNull speaker
                p.child-stop-subTitle #{speaker}
            +stopContent stop=this
    else
      h1.single-title
        span.stopNumber #{stop.stopNumber}
        | #{stop.title}
      unless isNull stop.speaker
        p.child-stop-subTitle.single #{stop.speaker}
      +stopContent stop=stop
    .stop-nav
      .col-xs-6
        if prevStop
          a.stop-nav-button(href="{{prevStop._id}}")
            i.fa.fa-chevron-circle-left
            span Previous stop
        else
          .inactive
            i.fa.fa-chevron-circle-left
            span Previous stop

      .col-xs-6
        if nextStop
          a.stop-nav-button(href="{{nextStop._id}}")
            span Next stop
            i.fa.fa-chevron-circle-right
        else
          .inactive
            span Next stop
            i.fa.fa-chevron-circle-right

template(name="stopContent")
  if isVideo
    .video-wrap
      video(
        src="http:#{awsUrl}/#{stop.tour}/#{stop.media}"
        poster="{{posterImage}}"
        controls
        autoplay="{{autoplay}}")
  if isAudio
    .video-wrap
      video(
        src="http:#{awsUrl}/#{stop.tour}/#{stop.media}"
        poster="#{awsUrl}/#{audioType}-poster.png"
        controls
        autoplay="{{autoplay}}"
        class="{{audioType}}")

  if isImage
    .img-wrap
      img(src="https://s3.amazonaws.com/tap-cma/#{stop.tour}/#{stop.media}" controls)

