template(name="tour")

  img(src='#{tour.main_images}/#{tour.tourImg}' class='tourImage')
  div(class="tourTitle-wrap {{removeBorder}}")
  div
    h1 #{tour.mainTitle}: #{tour.subTitle}
  ul
    each stops
      {{log this}}
      li
        a(href='#{tour}/stop/#{_id}') #{title}
          if isGroup
            span.group G
            ul
              each group
                li(class="type-#{this}")
          span.title #{title}
        //- span.stopType #{stopType}

//-   # NEWSLETTER SIGNUP