template(name="tourDetails")
  unless tour
    .main-title-wrap
      h1.main-title Create a Tour
  .container-fluid
    form(class="#{action}-tour" data-parsley-validate)
      label
        span Main Title
        input.form-control(name='mainTitle' type='text' value=tour.mainTitle required)
      label
        span Sub Title
        input.form-control(name='subTitle' type='text' value=tour.subTitle)
      label
        span Opening Date
        input.form-control(name='openDate' type='date' value='{{formatDate tour.openDate}}' required)
      label
        span Closing Date
        input.form-control(name='closeDate' type='date'  value='{{formatDate tour.closeDate}}' required)
      label
        span Base Number (ie '100')
        input.form-control(name='baseNum' type='number' placeholder='100'  value=tour.baseNum required)
      label
        span Tour Type
        .radio
          label
            input(name='tourType' type='radio' value='0' checked required)
            | Adult
        .radio
          label
            input(name='tourType' type='radio' value='1')
            | Family

      label.outside
        span Tour Image
      unless tour.image
        +fileUpload name='image' required=true
      else
        p
          a(href="https://s3.amazonaws.com/tap-cma/#{tour._id}/#{tour.image}")= tour.image

      unless tour
        button.btn.btn-success(type="submit") Create Tour
      else
        button.btn.btn-success(type="submit") Save Tour Details

      each files
        .progress
          .progress-bar(role="progressbar" aria-valuenow="{{ percent_uploaded }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_uploaded }}%") {{ percent_uploaded }}
