template(name="posterImage")
  unless posterImage
    .row
      .col-sm-8
        +editMedia(
          object=stop
          media=stop.posterImage
          label="Video Poster Image"
          tourID=stop.tour
          mediaType='image'
          typeName='posterImage'
          currentMediaType='image')
  else
    p=  posterImage
