template(name="videoContent")
  .video-wrap
    video(
      src="#{awsUrl}/#{stop.tour}/#{stop.media}"
      poster=posterImage
      controls=showControls
      autoplay=autoplay
      class=audioType
      playsinline)
