template(name="childStop")
  li.child(class="#{isOpen}" data-index="#{child.index}")
    span.stop-number
      span.parent-number #{parent.stopNumber}.
      span.order-number=child.order
    +stopTitle stop=child
    unless child.media
      i.fa.fa-exclamation-triangle.no-file-warning
    if edit
      .editing-container
        +editing stop=child
    a.delete(href="#")
      i.fa.fa-trash
