template(name="editStop")
  +stopTitle(
    stop=stop
    editingStop=editingStop
    parentStopNumber=parentStopNumber)
  if isEditingStop
    .editing-container
      +editing stop=stop editingStop=editingStop
    if stop.isGroup
      if showChildStops
        +childStops stop=stop
      if isAddingStop
        +addStop(
          type='new-child'
          tour=tour
          parent=_id
          siblings=childStops
          addingStop=addingStop)
