template(name="editTour")
  .main-title-wrap
    h1.main-title.edit-tour-title #{tour.mainTitle}: #{tour.subTitle}
    button.btn.btn-default.btn-plain.show-tour-details(type='button')
      i.fa.fa-edit.right
    a.btn.btn-default.btn-plain.view-tour(href="{{pathFor 'tour' _id=tour._id}}")
      i.fa.fa-search
    button.btn-plain.delete-tour(title="Delete Tour")
      i.fa.fa-trash
  if editTourDetails
    +tourDetails tour=tour action='edit' editing=getEditing
  if stops
    ul.list-unstyled.tap-edit-list.edit-parent-stops
      +sortable items=stops sortField="stopNumber" options=sortableOptions
        +editStop stop=this
      if showAddStop
        .add-stop
          +addStop type='new-parent' stops=stops tour= ../tour
      else
        li.parent.add-stop-link
          .title
            a.show-add-stop
              i.fa.fa-plus-square
              span Add stop
  else
    +addStop type='new-parent' stops=stops tour=tour


template(name="editStop")
  li.parent(class="#{stop.type} {{#unless isActivelyEditing}} not-editing {{/unless}}")
    unless onlyOneStop
      i.handle.fa.fa-bars
    span.stop-number #{stop.stopNumber}
    +stopTitle stop=stop activelyEditing=activelyEditing
    .stop-count
      if isGroup
          each childStops
            if hasMedia this
              i.fa.fa-square
            else
              i.fa.fa-square-o.no-file
          else
            i.fa.fa-exclamation-triangle.no-file-warning
      else
        if media
          i.fa.fa-square
        else
          i.fa.fa-square-o.no-file
    a.delete(href="#")
      i.fa.fa-trash
    if editStop
      if isGroup
        if showChildStops
          ul.edit-child-stops.list-unstyled
            each children
              +childStop child=this
            unless addChild
              li.child.add-stop-link.add-child
                a.title
                  i.fa.fa-plus-square
                  span Add Child
          if addChild
            +addStop type='new-child' tour=tour parent=_id siblings=childStops
      else
        .editing-container
          +editing stop=stop stops=stops childStops=children



template(name="childStop")
  li.child(class="#{isOpen}" data-index="#{child.index}")
    span.stop-number
      span.parent-number #{parent.stopNumber}.
      span.order-number=child.order
    +stopTitle stop=child
    unless child.media
      i.fa.fa-exclamation-triangle.no-file-warning
    if edit
      .editing-container
        +editing stop=child
    a.delete(href="#")
      i.fa.fa-trash


template(name="editing")
  form(class="edit-stop edit-#{stop.type}" data-parsley-validate)
    unless parent
      .row
        .col-sm-6
          if isChild
            .row
              .col-sm-2
                label
                  span Order
                  input.form-control(value="#{stop.order}" name="order" placeholder="Order Number" type="number")
          +stopData stop=stop mediaType=getMediaType
          .action-btns
            button.btn.btn-success.save(type="submit") Save Stop
            button.btn.btn-default.cancel(type="button") Done

      .other-edit-options
        label Other Options
        if isChild
          button.btn.btn-default.convert-single
            i.fa.fa-square-o
            span Convert to Single Stop
         else
          .row
            .col-sm-2
              button.btn.btn-default.convert-group
                i.fa.fa-clone.left
                span Convert to Group
            if parentStops
              .col-sm-7.col-sm-offset-1
                .row.add-to-group-wrap
                  form.add-to-group
                    .col-sm-8
                      select.parent-stops-list.form-control(name="parent")
                        each parentStops
                          option(value=_id)= title
                    .col-sm-4
                      button.btn.btn-default
                        i.fa.fa-plus-square.left
                        span Add to group


template(name="stopData")
  label
    span Speaker or Subtitle
    input.form-control(value="#{stop.speaker}" name="speaker" placeholder="Speaker")
  .row
    .col-sm-6
      +mediaTypes stop=stop mediaType=mediaType
  +editMedia(
    label="Media File"
    name="media"
    media=stop.media
    tourID=stop.tour
    stop=stop
    mediaType=mediaType
    typeName='media'
    currentMediaType=stop.mediaType
    )
  if isUpdating
    +uploadProgress

template(name='addStop')
  .add-stop-container(class=type)
    h2=addTitle
    form.add-stop(data-parsley-validate)
      .row
        .col-sm-6
          if isParent
            .radio
              label
                input.new-stop-type(type='radio' name="type" value="single" checked=singleSelected)
                | Single
            .radio
              label
                input.new-stop-type(type='radio' name="type" value="group" checked=groupSelected)
                | Group
          .row
            .col-sm-8
              label
                span Title
                input.form-control(value="" name="title" required)
          if showSingleData
            .row
              .col-sm-8
                label Speaker or Sub-title
                  input.form-control(value="" name="speaker")
            .row
              .col-sm-4
                +mediaTypes mediaType=mediaType
            .row
              .col-sm-8
                +editMedia(
                  label="Media File"
                  name="media"
                  media=''
                  tourID=tour._id
                  mediaType=mediaType
                  typeName='media'
                  currentMediaType=stop.mediaType
                  )
          if isCreating
            +uploadProgress
          .action-btns
            button.btn.btn-success(type="submit")
              span Add Stop
            button.btn.btn-default.cancel-add-stop(type="button") Cancel
