template(name="editStop")
  +stopTitle stop=stop activelyEditing=activelyEditing
  if isActivelyEditing
    if isGroup
      if showChildStops
        +childStops stop=stop
        if addChild
          +addStop type='new-child' tour=tour parent=_id siblings=childStops
    else
      .editing-container
        +editing stop=stop stops=stops childStops=children
