template(name="editTour")
  if Template.subscriptionsReady
    .main-title-wrap.edit-tour-title
      h1.main-title.edit-tour-title #{tour.mainTitle}: #{tour.subTitle}
      .tour-options
        a.btn.btn-plain.show-tour-details(
          class="{{#if editTourDetails}}active{{/if}}"
          title="Edit Tour Details")
          i.fa.fa-edit.right
        a.btn.btn-plain.view-tour(
          type="button"
          href="{{pathFor 'tour' _id=tour._id}}"
          title="Goto Tour")
          i.fa.fa-link
        a.btn.btn-plain.delete-tour(
          title="Delete Tour")
          i.fa.fa-trash
      .search-input
        i.fa.fa-search
        input.stop-search.form-control(type="text" placeholder="Search Stops")
    if editTourDetails
      +tourDetails tour=tour action='edit' editing=getEditing
    if stops.count
      ul.list-unstyled.tap-edit-list.edit-parent-stops#stopList
        each stops
          +editStop(
            stop=this
            tour=tour
            selectedParents=selectedParents
            foundChildren=foundChildren
            highlightStop=highlightStop)
        if isAddingStop
          .add-stop
            +addStop type='new-parent' stops=stops tour=tour addingStop=addingStop
        else
          li.parent.add-stop-link
            .title
              a.show-add-stop
                i.fa.fa-plus-square
                span Add stop
    else
      .add-first-stop
        +addStop type='new-parent' stops=stops tour=tour addingStop=addingStop
  else
    +loading

  if isDeleting
    +loading classes='fixed'
