template(name="editTour")
  .main-title-wrap
    h1.main-title.edit-tour-title #{tour.mainTitle}: #{tour.subTitle}
    button.btn.btn-default.btn-plain.show-tour-details(type='button')
      i.fa.fa-edit.right
    a.btn.btn-default.btn-plain.view-tour(href="{{pathFor 'tour' _id=tour._id}}")
      i.fa.fa-search
    button.btn-plain.delete-tour(title="Delete Tour")
      i.fa.fa-trash
  if editTourDetails
    +tourDetails tour=tour action='edit' editing=getEditing
  if stops
    ul.list-unstyled.tap-edit-list.edit-parent-stops
      +sortable items=stops sortField="stopNumber" options=sortableOptions
        +stopTitle stop=this
        if editStop
          +editStop stop=this
      if showAddStop
        .add-stop
          +addStop type='new-parent' stops=stops tour= ../tour
      else
        li.parent.add-stop-link
          .title
            a.show-add-stop
              i.fa.fa-plus-square
              span Add stop
  else
    +addStop type='new-parent' stops=stops tour=tour
