template(name="stopTitle")
  li(class="stop #{stop.type}-title #{stop.type} {{#if editingAStop}} not-editing {{/if}}" data-id=stop._id)
    if draggable
      i.handle.fa.fa-bars

    span.stop-number
      if stop.isChild
        span.parent-number #{parentStopNumber}
        span.order-number .#{stop.order}
      else
        {{stop.stopNumber}}

    unless editingTitle
      .title
        span= stop.title
        a.edit-title-btn
          i.fa.fa-edit
    else
      form.edit-title-form.animate-in(data-parsley-validate)
        .edit-title
          input.edit-title-input.form-control.inline(value=stop.title name="title" required)
        .action-btns-form
          button.btn.btn-plain.save-title(type="submit")
            i.fa.fa-check-circle
          button.btn.btn-plain.cancel-edit-title(type="button")
            i.fa.fa-times-circle

    .stop-actions
      .stop-count
        if stop.isGroup
          each stop.children
            if this.media
              i.fa.fa-square
            else
              i.fa.fa-square-o.no-file
          else
            i.fa.fa-exclamation-triangle.no-file-warning
        else
          unless stop.media
            i.fa.fa-exclamation-triangle.no-file-warning
      a.delete
        i.fa.fa-trash
