template(name="image")
  unless image
    +fileUpload name='image' required=true
  else
    .row
      .col-sm-12
        .tour-image(style="background-image: url(#{awsUrl}/#{tourID}/#{image})")
          .curtain
          .image-options
            a(href="#{awsUrl}/#{tourID}/#{image}" target='_blank')
              i.fa.fa-external-link
            a(href="").delete-tour-image
              i.fa.fa-trash
